@import "src/styles/Palette.styles";

.input_container {
  position: relative;

  & > input {
    box-sizing: border-box;
    font-size: 18px;
    width: 100%;
    border: none;
    outline: none;
    color: $darkGray;
    z-index: 1;
    border-bottom: 2px solid $lightBlue;
    transition: border 0.3s ease-out;
    padding: 0.3em 0 0;
    
    &:disabled {
      background-color: rgba($lightGray, 0.2);
    }
  
    &:focus {
      border-bottom: 2px solid $blue;
    }
    
    &:focus + .placeholder {
      transform: translateY(-1.2em) scale(0.8);
    }
  }
  
  & > input:not(:placeholder-shown) + .placeholder {
    transform: translateY(-1.2em) scale(0.8);
  }
  
  & > .placeholder {
    position: absolute;
    bottom: 4px;
    left: 0;
    color: $lightGray;
    font-size: 18px;
    user-select: none;
    
    transform-origin: left;
    transition: transform 0.2s ease-out;
  }
}
