@import "src/styles/Palette.styles";

.root {
  box-sizing: border-box;
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.title_container {
  padding-bottom: 0.7em;
}

.form_container {
  width: 85vw;
  max-width: 400px;
}

.login_container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  padding: 1em 0;
}

.button_container {
  padding-top: 1.5em;
}