@import "src/styles/Animations";

.root {
  box-sizing: border-box;
  height: 100%;
  max-width: 720px;
  margin: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.tasksList {
  padding-bottom: 4rem;
}