$size: 24px;

.root {
  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
  
  transition: transform 0.2s ease-in;
  cursor: pointer;
  
  &>svg {
    @extend .root;
  }
  
  &:active {
    transform: scale(0.8);
  }
}