@import "src/styles/Palette.styles";

.cardContent {
  width: 80%;
}

.title {
  font-size: 1.3rem;
  color: #000;
}

.description {
  font-size: 0.9rem;
  color: $darkGray;
}

.expireDate {
  font-size: 0.9rem;
  color: $blue;
}