@import "src/styles/Palette.styles";

$size: 32px;

.fab {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
  padding: $size;
  box-sizing: border-box;
  background-color: $blue;
  
  position: relative;
  width: $size;
  max-width: $size;
  box-shadow: 0 3px 10px 4px rgba(#000, 0.15);
}

.plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: $size;
  height: 4px;
  border-radius: 2px;
  
  background-color: #fff;
  
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    
    width: $size;
    height: 4px;
    border-radius: 2px;
    
    background-color: #fff;
  }
}