@import "src/styles/Palette.styles";

.root {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.75em 1em;
  background-color: $deepBlue;
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
  transition: background-color 0.3s ease-out, transform 0.3s ease-out;
  
  &:disabled {
    background-color: $lightBlue;
  }
  
  &:active {
    background-color: $blue;
    transform: translateY(4px);
  }
  
  &.color_transparent {
    background-color: transparent;
    color: $deepBlue;
  
    &:disabled {
      background-color: transparent;
      color: $blue;
    }
  
    &:active {
      background-color: $lightBlue;
    }
  }
}