.row {
  padding: 0.75em 0;
}

.card_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.description_input {
  word-break: break-word;
}

.expireDate_button {
  position: relative;
  white-space: nowrap;
}

.expireDate_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  opacity: 0;
}

.expireDate_input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

.fullWidth {
  width: 100%;
}

.spacing {
  margin: 0.5em 0
}