
.fadeAndGrowIn {
  animation: fadeAndGrowIn 0.25s ease-out;
}

@keyframes fadeAndGrowIn {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeAndGrowOut {
  animation: fadeAndGrowOut 0.25s ease-in;
}

@keyframes fadeAndGrowOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.3);
  }
}