@import "src/styles/Animations";

.root {
  box-sizing: border-box;
  height: 100%;
  max-width: 720px;
  margin: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.taskAddCard_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 90vw;
  max-width: 500px;
}

.taskAddButton_container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px;
}

.tasksList {
  padding-bottom: 4rem;
}