.root {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  
  background: #EAEDF1;
  box-shadow: -4px 0 16px 6px rgba(#000, 0.15);
  
  width: 75%;
}

@media screen and (min-width: 600px){
  .root {
    width: 400px;
  }
}