@import "src/styles/Palette.styles";

.root {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.fab {
  border-radius: 50%;
  padding: 1.7em;
  background-color: $blue;
  
  position: relative;
  box-shadow: 0 3px 10px 4px rgba(#000, 0.15);
}

.plus {
  $size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: $size;
  height: 4px;
  border-radius: 2px;
  
  background-color: #fff;
  
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  
    width: $size;
    height: 4px;
    border-radius: 2px;
  
    background-color: #fff;
  }
}

.draggableCard_root {
  position: fixed;
  bottom: -400px;
  left: 50%;
  
  transform: translateX(-50%);
}