@import "src/styles/Palette.styles";
@import "src/styles/Card.styles";

.root {
  position: fixed;
  top: 0;
  left: 50%;

  width: 100%;
  max-width: 400px;

  box-sizing: border-box;
  padding: 1em;
  transform: translate(-50%, 0);
  transition: transform 0.3s ease-out;
}

.open {
  transform: translate(-50%, 0);
}

.closed {
  transform: translate(-50%, -50vh);
}

.container {
  @extend .cardRoot;
  width: 100%;

  &.error {
    background-color: $red;

    & > .title {
      color: #fff;
    }
    & > .description {
      color: #fff;
    }
  }
}
