@import "src/styles/Palette.styles";

.list__item_icon {
  width: 32px;
  height: 32px;
  min-width: 32px;
  text-align: center;
}

.sublist__item_text {
  color: $darkGray;
  font-weight: normal;
}

.list__item_title {
  transition: transform 0.2s ease-out;
  
  &.link {
    color: #1071cd;
    
    &:active {
      transform: translateX(20px);
    }
  }
}