.taskItem {
  margin: 1em 0;
}

.taskItem_animation {
  animation: slide-in 0.3s ease-out;
  animation-fill-mode: both;
}

@keyframes slide-in {
  from {
    transform: translateX(100vh);
  }
  to {
    transform: translateX(0);
  }
}