.pageRoot {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.backgroundLight {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  animation: slide-from-left 0.8s ease-out;
  
  & > svg {
    height: 100vh;
  }
}

.backgroundDark {
  @extend .backgroundLight;
  
  top: 25vh;
  left: unset;
  right: 0;
  animation: slide-from-right 0.8s ease-out;
}

@keyframes slide-from-right {
  from {
    transform: translate(100vw, -20vh);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes slide-from-left {
  from {
    transform: translate(-100vw, 20vh);
  }
  to {
    transform: translate(0, 0);
  }
}