* {
  font-family: -apple-system, Roboto, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #EAEDF1;
}

h1 {
  font-weight: normal;
  font-size: 3.2rem;
  margin: 1rem 0 1rem 0;
}

h2 {
  font-weight: normal;
  font-size: 2.6rem;
  margin: 1rem 0 1rem 0;
}

h3 {
  font-weight: normal;
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}

h4 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
}

p {
  margin: 0;
}