.root {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
}

.item {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 1rem 0;
  
  &.hidden {
    transform: translateY(-400px);
  }
}

.animation {
  margin: 1rem 0;
  animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0);
  }
}
