@import "src/styles/Palette.styles";

.title {
  color: #434343;
  font-weight: normal;
}

.root {
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease-out;
  
  &:active {
    background-color: $lightGray;
  }
  
  &:hover {
    background-color: $lighterGray;
  }
}